@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Yanone+Kaffeesatz&display=swap');

html {
    margin: 0;
    padding: 0;
}
body {
    background: #1f4037;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 15pt;
    /* background-color: #efefef; */
    padding: 10px;
    margin: 0;
}
a
{
    text-decoration: none;
    color:royalblue;
}
h1 {
    font-size: 15pt;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 10px 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
p {
    padding: 0;
    margin: 0;
}
.img-circle {
    border: 5px solid white;
    border-radius: 50%;
} 
.section {
    background-color: rgb(236, 241, 235);
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.typing {
    /* height: 80vh; */
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
  }
  .typing-effect {
    width: 57ch;
    white-space: nowrap;
    overflow:scroll;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 20px;
    font-weight: 900;
    animation: typing 3s steps(22), effect .5s step-end infinite alternate;
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
  }

#header {
    background-image: url("https://images.wallpaperscraft.com/image/lines_wavy_strip_paint_88557_1400x1050.jpg");
    background-size: cover;
}
#header img {
    display: block;
    width: 150px;
    height: 150px;
    margin: auto;
}
#header p {
    font-size: 25pt;
    color: #3b464c;
    padding-top: 5px;
    margin: 0;
    font-weight: bold;
    text-align: center;
}
.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 100%;
    font-size: 11pt;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
li {
    margin-bottom: 15px;
    font-weight: bold;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}
progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
} 
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;
}
iframe, audio {
    display: block;
    margin: 0 auto;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color:dodgerblue;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    width: 255px;
}
.submit:hover {
    opacity: 0.8;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 70%;
    outline: none;
}
.face {
    transform: scale(0.4);
    margin: 0 auto;
    display: block;
    margin-top: -35px;
    margin-bottom: -25px;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}

.educationArea{
display: flex;
flex-direction: column;
}

.education{
 display: flex;
 flex-direction:row;
 width: 100%;
 justify-content:space-between;
}

@media(max-width: 750px)
{
    .section{
        font-size: 19px;
    }
}